.button-cover {
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    right: 2%;
    bottom: 3%;
  }
  .button-cover .toggle-btn {
    height: 65px;
    width: 65px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #1e2022;
    border-radius: 50%;
  }
  .button-cover .widget_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .button-cover .aero-social-icons {
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all;
    transition-duration: 0.5s;
    margin-bottom: -20px;
  }
  .button-cover .image-name {
    display: flex;
    align-items: center;
    min-width: 190px;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 12px;
  }
  .button-cover .auto-hw {
    width: auto !important;
    height: 100% !important;
    transition: all;
    transition-duration: 0.5s;
    margin-bottom: 10px;
  }
  .button-cover .image-name img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    max-height: 53px;
    max-width: 53px;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .button-cover .image-name label {
    padding: 8px 20px;
    padding-left: 25px !important;
    font-size: 16px;
    border-radius: 1px;
    font-weight: 400;
    cursor: pointer;
    background-color: #4e4e7e;
    color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
    margin-right: 10px;
  }
  .button-cover .image-name a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
  }
  .button-cover .button-icon {
    position: relative;
    transition: all;
    transition-duration: 0.4s;
  }
  .button-cover .button-icon::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 1.5px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
  }
  .button-cover .button-icon::after {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 25px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
  }
  .button-cover .rotate-button {
    transform: rotate(135deg);
  }
  .slim_text {
    font-weight: 100 !important;
  }
  .floating_icon {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 23px;
  }
  .floating_atc {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 93px;
    cursor: pointer;
    background-color: #fff;
    z-index: 10000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 0.2px solid #ebebeb;
  }
  @media (min-width: 1550px){
    .floating_atc{
      right: 100px;
    }
  }
  .floating_atc img {
    width: 43%;
  }
  .floating_atc_open {
    right: 2%;
    bottom: 31px;
    box-shadow: none;
    border: 0.3px solid gray;
    transition: all;
    transition-duration: 0.6s;
  }
  .floating_atcm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -390px;
    width: 100vw;
    transition: all;
    transition-duration: 0.4s;
    display: flex;
    border-top: 1.5px solid #cfcfcf;
    padding: 10px 20px;
    padding-top: 15px;
    box-sizing: border-box;
    z-index: 9999;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .floating_atcm p {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
  }
  .floating_atcm div:first-child {
    margin-right: 10px;
  }
  .open_fatc {
    bottom: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .fatcm_container {
    display: flex;
    font-family: sans-serif;
    color: #444;
    font-size: 15px;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    margin-top: 10px;
  }
  .fatcm_container div:not(:last-child) {
    margin-right: 30px;
  }
  .fatcm_image img {
    height: 90px;
    border-radius: 1px;
    margin-right: 10px;
  }
  .fatcm_title {
    width: 33%;
    color: gray;
    font-size: 12.6px;
  }
  .fatcm_title p {
    font-size: 12.6px;
    color: #686868;
    display: inline-block;
  }
  .fatcm_title p:first-child {
    text-transform: capitalize;
    font-size: 15px;
    color: #464646;
  }
  .variant_details {
    color: gray;
    font-size: 12.6px !important;
  }
  .variant_details p {
    color: gray;
    font-size: 12.6px !important;
  }
  .fatcm_variant select {
    width: 170px;
    height: 35px;
    padding: 4px;
  }
  #variant_quantity {
    width: 90px;
    height: 34px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .fatcm_price {
    padding-top: 18px;
  }
  .fatcm_price p:nth-child(1) {
    font-size: 14px !important;
    height: 17px;
    margin: 0;
    padding: 0;
    margin-right: 3px;
    font-weight: 600;
    color: grey;
  }
  #pin_cart_price {
    font-size: 21px !important;
    font-weight: 600;
    color: #696969;
    margin: 0;
    padding: 0;
  }
  .fatcm_button {
    padding-top: 23px;
    width: 24%;
    display: flex;
  }
  .fatcm_button button {
    border: none;
    height: 37px;
    display: flex;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    background-color: #5563c1;
    font-weight: 200 !important;
    color: #fff;
    border-radius: 1px;
    outline: 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding-top: 2px;
  }
  .fatcm_button a {
    color: inherit;
    text-decoration: none;
  }
  .fatcm_button a:hover {
    color: #fff !important;
  }
  .fatcm_button button:hover {
    color: #fff !important;
  }
  .fatcm_button button:last-child {
    margin-left: 10px;
    background-color: #2e2e2e;
  }
  .added_to_cart_notification {
    border-bottom: 5px solid #85d385;
    padding: 4px 25px;
    padding-top: 8px;
    font-size: 15px;
    position: fixed;
    top: 7%;
    right: -55%;
    font-family: sans-serif;
    color: #7e7e7e;
    font-weight: 600;
    opacity: 0;
    transition: all;
    transition-duration: 0.6s;
    overflow: hidden;
    background-color: #fff;
    z-index: 999999999;
  }
  .notification_show {
    top: 7%;
    right: 7%;
    opacity: 1;
    transition-duration: 0.6s;
    overflow: hidden;
    background-color: #fff;
  }
  .cart_icon_container {
    position: relative;
  }
  .cross {
    width: 45px;
    height: 45px;
  }
  .cross::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 1.7px;
    background-color: #5c5c5c;
    z-index: 99999;
    transform: rotate(45deg);
  }
  .cross::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 1.7px;
    background-color: #5c5c5c;
    z-index: 99999;
    transform: rotate(45deg);
  }
  .cross img {
    display: none;
  }
  @media (max-width: 1182px){
    .variant_details {
      display: none;
    }
    .fatcm_title{
      width: 25%;
    }
    .floating_atcm{
      padding-right: 50px;
    }
  }
  @media (max-width: 1064px){
    .floating_atcm{
      padding-right: 50px;
    }
  }
  @media (max-width: 1025px){
    .floating_atc{
      right: 85px;
    }
  }
  @media (max-width: 1064px) {
    .fatcm_container .fatcm_button {
      flex-direction: column;
      padding-top: 5px;
    }
    .fatcm_container .fatcm_button button {
      height: 30px;
    }
    .fatcm_container .fatcm_button button:last-child {
      margin-left: 0;
      margin-top: 5px;
    }
  }
  @media (max-width: 1026px){
    .floating_atc_open{
      right: 10px;
    }
  }
  @media (max-width: 870px) {
    .fatcm_title {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
    .fatcm_title p:last-child {
      display: none;
    }
  }
  @media (max-width: 900px) {
    .floating_atc {
      right: 80px;
      bottom: 30px;
    }
    .fatcm_title {
      justify-content: flex-start;
      font-size: 17px;
    }
    .floating_atcm {
      padding: 20px 9px;
    }
    .fatcm_container {
      flex-direction: column;
      width: 100%;
      margin-top: 0;
      padding-right: 7px;
    }
    .fatcm_title {
      width: auto;
      font-size: 16.5px;
      font-weight: 600;
      color: #616161;
      margin-bottom: -7px;
    }
    .fatcm_price {
      width: 100%;
      margin-top: 6px;
      padding-top: 7px;
    }
    .fatcm_price p:first-child {
      height: auto;
    }
    .fatcm_variant {
      margin-top: 11px;
    }
    .fatcm_variant select {
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      height: 30px;
      padding: 0 10px;
    }
    .fatcm_button {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px !important;
    }
    .fatcm_button button {
      width: 100%;
      margin-top: -10px;
      font-weight: 500 !important;
      height: 32px;
    }
    .fatcm_button button:last-child {
      margin-left: 0;
      margin-top: 7px;
    }
    .no_mobile {
      display: none;
    }
    #variant_quantity {
      width: 75px;
      height: 30px;
    }
    .floating_atc_open {
      right: 7%;
      bottom: 105px;
      box-shadow: none;
      border: 0.3px solid gray;
      transition: all;
      transition-duration: 0.6s;
    }
    .variant_details {
      display: none;
    }
    .fatcm_price {
      display: flex;
    }
    .fatcm_price p:first-child {
      margin-top: 7px;
      margin-right: 4px;
    }
  }

  @media (max-width: 500px){
    .floating_atc{
      right: 76px;
    }
    .floating_atc_open {
      right: 20px;
    }
    .fatcm_title{
      margin-right: 10px !important;
    }
  }

  @media (max-width: 350px){
    .floating_atc_open {
      right: 14px;
    }
  }